extends layout

block content
  h1= title
  p Hi Im Sowjanya Gunaganti
   p `Row Values are #{query.rows}`
  p `Cols values are #{query.cols}`
  - var rows=Number(query.rows)
  - var cols=Number(query.cols)
  if !(Number.isInteger(rows)) || !(Number.isInteger(cols))
    p no values given
  else if rows > 6
    p row size should be greater than 6
  else if cols > 6
    p column size should be greater than 6
  else
   table#outer
    - for(let i=0; i<query.rows; i++) { 
       tr#middle
         - for(let j=0; j<query.cols; j++) { 
           td= (+i + +j) % query.rows
         - }
    - }